{% extends 'myapp/base.html' %} {% block content %}
<center>
  <h3>List of all product in our gallery</h3>
  <br />
</center>

<center>
  <div class="row">
    {% for pd in product %}
    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
      <div class="card" style="width: 100%; padding: 10">
        {% if pd.image %}
        <img
          class="card-img-top"
          src="{{ pd.image.url }}"
          alt="Card image cap"
          height="25%"
          width="25%"
        />
        {% elif pd.imageUrl != None %}
        <img
          class="card-img-top"
          src="{{ pd.imageUrl }}"
          alt="Card image cap"
          height="25%"
          width="25%"
        />
        {% else %}
        <img src="/media/download.png" alt="" />
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ pd.name }}</h5>
          {% if pd.inStock == True %} {%if user.is_authenticated %}
          <a href="{% url 'addToCart' pd.id %}" class="btn btn-sm btn-success"
            >BUY NOW | In Stock: {{ pd.quantity }}</a
          >
          {% else %}
          <a href="{% url 'login' %}" class="btn btn-sm btn-success"
            >BUY NOW | In Stock: {{ pd.quantity }}</a
          >
          {% endif %} {% else %}
          <a href="" class="btn btn-sm btn-warning">Out Of Stock</a>
          {% endif %}
          <p class="card-text">
            {{ pd.detail | linebreaks | truncatewords_html:10 }}
          </p>
          <a href="{% url 'productDetail' pd.id %}">Detail...</a><br />
          <a href="#" class="btn btn-info"
            >Price: {{ pd.price }} / {{ pd.unit }}</a
          >
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <br />

  <nav aria-label="Page navigation example">
    <ul class="pagination">
      {% if product.has_previous and product.has_next != True %}
      <li class="page-item">
        <a
          class="page-link"
          href="?page={{product.previous_page_number}}"
          aria-label="Previous"
        >
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      &nbsp;
      <li class="page-item">
        <a href="?page={{product.number|add:-2}}" class="page-link"
          >{{product.number|add:-2}}</a
        >
      </li>
      &nbsp;
      <li class="page-item">
        <a href="?page={{product.number|add:-1}}" class="page-link"
          >{{product.number|add:-1}}</a
        >
      </li>
      &nbsp;
      <li class="page-item active">
        <a href="?page={{product.number}}" class="page-link"
          >{{product.number}}</a
        >
      </li>
      {% endif %} {% if product.has_previous and product.has_next %}
      <li class="page-item">
        <a
          class="page-link"
          href="?page={{product.previous_page_number}}"
          aria-label="Previous"
        >
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item">
        <a href="?page={{product.number|add:-1}}" class="page-link"
          >{{product.number|add:-1}}</a
        >
      </li>
      &nbsp;
      <li class="page-item active">
        <a href="?page={{product.number}}" class="page-link"
          >{{product.number}}</a
        >
      </li>
      &nbsp;
      <li class="page-item">
        <a href="?page={{product.number|add:1}}" class="page-link"
          >{{product.number|add:1}}</a
        >
      </li>
      &nbsp;
      <li class="page-item">
        <a
          class="page-link"
          href="?page={{product.next_page_number}}"
          aria-label="Next"
        >
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
      {% endif %} {% if product.has_next and product.has_previous != True %}

      <li class="page-item active">
        <a href="?page={{product.number}}" class="page-link"
          >{{product.number}}</a
        >
      </li>
      &nbsp;
      <li class="page-item">
        <a href="?page={{product.number|add:1}}" class="page-link"
          >{{product.number|add:1}}</a
        >
      </li>
      &nbsp;
      <li class="page-item">
        <a href="?page={{product.number|add:2}}" class="page-link"
          >{{product.number|add:2}}</a
        >
      </li>
      &nbsp;
      <li class="page-item">
        <a
          class="page-link"
          href="?page={{product.next_page_number}}"
          aria-label="Next"
        >
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
      {% endif%} &nbsp;&nbsp;&nbsp;
      <li class="page-item page-link btn btn-outline-dark disabled">
        Page {{product.number}} of {{product.paginator.num_pages}}
      </li>
    </ul>
  </nav>

  <br />
</center>
{% endblock %}
