{% load custom_tags %} {% load markdown_extra %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    {% block header%} {% endblock header %}
    <title>PICTURA</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <a class="navbar-brand" href="/">PICTURA</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#collapsibleNavbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home-page'%}">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about-page'%}">ABOUT US</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact-page'%}">CONTACT US</a>
          </li>
          {% if user.is_authenticated and user.profile.userType == 'member'%}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'myCart'%}"
              >My Cart<span class="badge badge-pill badge-primary"
                >{{user.profile.cartQuantity}}</span
              ></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'orderList'%}">Order List</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'allProduct'%}"
              >ALL PRODUCT [{% show_allproduct %}]</a
            >
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Category
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% all_category %}
            </div>
          </li>
          {% if user.is_authenticated and user.profile.userType == 'admin'%}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'addProduct'%}">ADD PRODUCT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:8000/admin"
              >DASH BOARD</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'allOrderList'%}"
              >All Order List</a
            >
          </li>
          {% endif %}
        </ul>

        {% if user.is_authenticated %}

        <img
          src="{{user.profile.photo.url}}"
          alt=""
          width="30px"
          height="30px"
          class="rounded-circle"
        />
        <p style="color: cyan; margin: 10px">
          Hi,&nbsp{{user.last_name}}&nbsp[{{user.profile.userType}}]
        </p>
        <a class="btn btn-danger" href="{% url 'logout' %}">Logout</a>
        {% else %}
        <a class="btn btn-info" href="{% url 'register'%}">Register</a
        >&nbsp&nbsp&nbsp
        <a class="btn btn-info" href="{% url 'login' %}">Login</a>
        {% endif %}
      </div>
    </nav>
    <center>
      <div class="jumbotron">
        <h5 class="display-4">the best photo gallery website --</h5>
      </div>
    </center>
    <div class="container">
      {% if user.is_authenticated and user.verifyemail.approved == False %}
      <div class="alert alert-warning alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">
          &times;
        </button>
        <strong>Please register or verify an account!</strong>
      </div>
      {% endif %}
    </div>
    <div class="container-fluid">
      {% block content %} {% endblock content %}
    </div>

    <!-- ---------- -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
