{% extends 'myapp/base.html' %} {% block content %}
      <div class="row text text-center">
        <div class="col-12 col-sm-12 col-md-12 col-xl-12">
          <h3>{{ product1 }}</h3>
          <img
            src="https://cdn.pixabay.com/photo/2016/10/07/08/56/beauty-1721060_1280.jpg"
            alt=""
            height="150px"
            width="150px"
          /><br /><br />
          <a
            class="btn btn-sm btn-info"
            href="https://cdn.pixabay.com/photo/2017/07/03/20/17/abstract-2468874_1280.jpg"
            ><i>source</i></a
          >
        </div>
        <p>
          A portrait is a painting, photograph, sculpture, or other artistic
          representation of a person, in which the face and its expression is
          predominant. The intent is to display the likeness, personality, and
          even the mood of the person. For this reason, in photography a
          portrait is generally not a snapshot, but a composed image of a person
          in a still position. A portrait often shows a person looking directly
          at the painter or photographer, in order to most successfully engage
          the subject with the viewer.
        </p>
      </div>
    </div>
{% endblock %}